.App {
  margin: 15px auto 0;
  max-width: 700px;
}

.main-title {
  text-align: center;
}
#content {
  margin-bottom: 4em;
}

.ui.dividing.header {
  margin-top: 1em;
  margin-bottom: 2em;
}

i.icon {
  margin: 0;
}